*{
	margin: 0px;
	padding: 0;
}
header{
	padding: 25px 25px;
	background: #121010;
}
.img{
	width: 300px;
}
#menu{
	padding: 45px;
	background: #660000;
}
#promoçoes{
	padding: 80px;
	background: #565051;
}

#part1{
	
}
.cont{
	display: grid;
	grid-template-areas:
	"colt_esq colt_dir";
	grid-template-columns: 720px 720px;
}
.coluna_esq{
	grid-area: colt_esq;
	background: #B1B17F;
}
.coluna_dir{
	grid-area: colt_dir;
	background: #2B1B17;
}
#part2{
	padding: 250px;
	background: #2B1B17;
}
footer{
	padding: 30px;
	background: #0C090A;
}

.section {
	font-size:400px ;
    color:#F8F8FF;
}



